<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159921114-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-159921114-1');
  </script>

  <meta charset="UTF-8">
  <meta name="description" content="Crypto trading bot with market predictions using machine learning.">
  <meta name="keywords" content="crypto, machine learning, python">
  <meta name="author" content="Austin Scobee">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/ba70ff08b2.js" crossorigin="anonymous"></script>

  <link href="../static/favicon.ico" rel="icon">
  <link href="../static/main.3f6952e4.css" rel="stylesheet">

  <title>Cryptobot | Austin Scobee</title>
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./">Works</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../contact.html">Contact</a></li>
            <li><a href="../austin-scobee-resume-2021.pdf" target="_blank" title="View/Download">Resume</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./cryptobot.html" title="Crypto Trading Bot" class="active">001</a></li>
            <li><a href="./backend-rest-api.html" title="Backend REST API" class="active">002</a></li>
            <li><a href="./passwordchecker.html" title="Password Checker" class="active">003</a></li>
            <li><a href="./calculator.html" title="Convenient Calculator" class="active">004</a></li>
            <li><a href="./snakegame.html" title="Classic Game: Snake" class="active">005</a></li>
            <li><a href="./topstories.html" title="Hacker News: Top Stories" class="active">006</a></li>
            <li><a href="./omnifood/" target="_blank" title="Website: Omnifood" class="active">007</a></li>
            <li><a href="./putting-green.html" title="Backyard Putting Green" class="active">008</a></li>
            <li><a href="./customdesk.html" title="Custom Solid Wood Desk" class="active">009</a></li>
            <!-- <li><a href="./" title="Coming Soon: New Project!" class="">009</a></li> -->
          </ul>
        </div>

      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="../static/assets/images/work001-01.jpg" class="img-responsive" alt="">
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">001 : Crypto Trading Bot</h1>
            </div>
            <p>Cryptobot is a Python project that I'm currently obsessed with. This user-friendly interface
              allows you to research, monitor, and trade cryptocurrencies through your Robinhood account.
              I'm adding new features and functionality from a growing list of ideas weekly. Some of the
              existing features include: execute new market/limit orders, view or cancel existing orders,
              and produce graphs of historical data. I'm currently working on the next prominent feature:
              market predictions using machine learning.
            </p>
            <a href="https://github.com/ascobee/cryptobot" target="_blank" title="GitHub"
              class="btn-download">View/Download</a>
          </div>
        </div>

        <div class="col-xs-12">
          <figure class="text-center">
            <a href="../static/assets/images/cryptobotterminal.jpeg" target="_blank" title="Click to enlarge"
              class="img-btn">
              <img src="../static/assets/images/cryptobotterminal.jpeg"
                class="img-responsive img-rounded img-centered" alt="Cryptobot Terminal">
            </a>
            <p>Cryptobot Terminal</p>
          </figure>
        </div>

        <!-- <div class="col-xs-12">
          <figure class="text-center">
            <a href="../static/assets/images/passwordcheckerscript.png" target="_blank" title="Click to enlarge"
              class="img-btn">
              <img src="../static/assets/images/passwordcheckerscript.png"
                class="img-responsive img-rounded img-centered" alt="Password Checker Script">
            </a>
            <p>Password Checker Script</p>
          </figure>
        </div> -->

      </div>
    </div>
  </div>

  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            Copyright &copy;
            <script type="text/javascript">document.write(new Date().getFullYear());</script>
            AUSTIN SCOBEE
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="../static/main.70a66962.js"></script>

</body>

</html>
