<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159921114-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-159921114-1');
  </script>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta name="msapplication-tap-highlight" content="no">

  <script src="https://kit.fontawesome.com/ba70ff08b2.js" crossorigin="anonymous"></script>

  <link href="../static/favicon.ico" rel="icon">
  <link href="../static/main.3f6952e4.css" rel="stylesheet">

  <title>Works</title>
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="../" title="">01 : Home</a></li>
            <li><a href="./" title="">02 : Works</a></li>
            <li><a href="../about.html" title="">03 : About</a></li>
            <li><a href="../contact.html" title="">04 : Contact</a></li>
            <li><a href="../Austin_Scobee_Resume_2020.pdf" target="_blank" title="View/Download">05 : Resume</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">02 : Works</h1>
            <p>Here are a few of my favorite projects. I am currently working in Java. More
              projects coming soon!</p>
          </div>
        </div>

        <div class="col-md-12">

          <div id="myCarousel" class="carousel slide projects-carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">

                  <div class="col-sm-4">
                    <a href="./passwordchecker.html" title="" class="black-image-project-hover">
                      <img src="../static/assets/images/work01-hover.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>001/004</h4>
                      <h3>Password Checker</h3>
                      <p>Securely check to see if your passwords have been exposed in a data
                        breach via the terminal.</p>
                      <a href="./passwordchecker.html" title="" class="btn btn-default">Check it
                        out!</a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <a href="./topstories.html" title="" class="black-image-project-hover">
                      <img src="../static/assets/images/work02-hover.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>002/004</h4>
                      <h3>Hacker News: Top Stories</h3>
                      <p>Get a list of the top stories (>200 points) from the first two pages on
                        Hacker News.</p>
                      <a href="./topstories.html" title="" class="btn btn-default">Check it
                        out!</a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <a href="./omnifood/" target="_blank" title="" class="black-image-project-hover">
                      <img src="../static/assets/images/work03-hover.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>003/004</h4>
                      <h3>Website: Omnifood</h3>
                      <p>A website built for a fictional company called Omnifood, a premium food
                        delivery service.</p>
                      <a href="./omnifood/" target="_blank" title="" class="btn btn-default">Check
                        it out!</a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <a href="./calculator.html" title="" class="black-image-project-hover">
                      <img src="../static/assets/images/work01-hover.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>004/004</h4>
                      <h3>GUI Calculator</h3>
                      <p>This graphical user interface calculator can perform addition,
                        subtraction, multiplication,
                        division, and more.</p>
                      <a href="./calculator.html" title="" class="btn btn-default">Check it
                        out!</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            Copyright &copy;
            <script type="text/javascript">document.write(new Date().getFullYear());</script>
            AUSTIN SCOBEE
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>
  <script type="text/javascript" src="../static/main.70a66962.js"></script>

</body>

</html>
